@media (max-width: 320px) {
    .l-header__top {
        height: 50px;
        background-color: #686260;
        z-index: 1;
    }

    .l-header__bottom {
        display: flex;
        height: 90px;
    }

    .l-header__nav {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

}