@media (max-width: 320px) {
    .l-header__top {
        height: 50px;
        background-color: #686260;
        z-index: 1;
    }

    .l-header__bottom {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
    }
    .l-header__title {
        display: inline-block;
    }

    #drawer-toggle {
        display: none;
    }
    .l-header__drawer-btn {
        position: relative;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        z-index: 999;
    }
    .l-header__drawer-btn > span {
        display: block;
        position: absolute;
        top: 50%;
        right: 50%;
        width: 2rem;
        height: 2px;
        background-color: #000000;
        transform: translateX(-50%);
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .l-header__drawer-btn > span:first-child {
        transform: translate(-50%, calc(-50% - 0.4rem)); /* 上の線 */
    }
    .l-header__drawer-btn > span:last-child {
        transform: translate(-50%, calc(-50% + 0.4rem)); /* 下の線 */
    }
    #drawer-toggle:checked + .l-header__drawer-btn > span:first-child {
        transform: translate(-50%, -50%) rotate(-45deg); /* 「×」の左上線 */
    }
    #drawer-toggle:checked + .l-header__drawer-btn > span:last-child {
        transform: translate(-50%, -50%) rotate(45deg); /* 「×」の右上線 */
    }

    .drawer_nav {
        position: absolute;
        top: 0;
        left: -100%;
        transition: left 0.5s ease;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);

    }
    #drawer-toggle:checked ~ .drawer_nav {
        left: 0;
    }

    .drawer_nav_inner {
        width: 60vw;
        height: 100%;
        background-color: #F5F3ED;
        padding: 4rem 1rem;
        margin: 0 auto 0 0;
        overflow: scroll;
    }
    .drawer_nav_menu {
        display: grid;
        list-style: none;
        padding: 0;
    }
    .drawer_nav_link {
        display: block;
        color: #000000;
        text-decoration: none;
        padding: 1.5rem 1rem;
        border-bottom: 1px solid #D9D7D2;
    }
}