/* title.img.など汎用的に使う要素を定義 */

.c-title__25 {
    font-size: 25px;
}
.c-title__22 {
    font-size: 22px;
}


.c-fs__10 {
    font-size: 10px;
}

.c-fs__11 {
    font-size: 11px;
}

.c-fs__12 {
    font-size: 12px;
}

.c-fs__13 {
    font-size: 13px;
}

.c-fs__14 {
    font-size: 14px;
}

.c-fs__15 {
    font-size: 15px;
}

.c-fs__16 {
    font-size: 16px;
}

.c-fs__17 {
    font-size: 17px;

}.c-fs__18 {
    font-size: 18px;
}

.c-fs__18 {
    font-size: 18px;
}