/* レスポンシブに対応できる共通パーツを定義 */

/* 線 */
.c-deco__line  {
    font-style: normal;
    width: 100%;
    height: 1px;
    background-color: #000000;
    }

/* btn */
.c-btn__square--login {
    border: 1px solid #000000;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 8px;
}

.c-btn__square {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}


.c-btn__viewMore {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff;
    padding: 7px 20px;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
}

/*
.c-btn__indicator {
    position: relative;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    border: 0px;
    cursor: pointer;
    opacity: 0.4;
    transition: 400ms ease;
    margin-right: 4px;
    padding: 2px;

} */
/* .c-btn__indicator:hover,
.c-btn__indicator.active {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    animation: spin 0.6s linear;
} */

/* @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

/* .c-btn__indicator {
    position: relative;
    width: 20px;インジケーターの大きさ
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #000; インジケーターの枠線
    overflow: hidden;
}

.c-btn__indicator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 50%;
    animation: circleAnimation 2s linear infinite;
    opacity: 0;
} */

/* .c-btn__indicator {
    position: relative;
    width: 20px;ボタンの幅
    height: 20px; ボタンの高さ
    border-radius: 50%; 丸い形
    background-color: white; ボタンの背景色
    border: 2px solid transparent; 外枠は透明
    transition: all 0.3s ease; アニメーションの速度
}

.c-btn__indicator::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
    background: transparent;
    transition: all 0.3s ease;
    z-index: -1; ボタンの下に配置
}

.c-btn__indicator:hover::before {
    border-color: #333; 線の色
    animation: rotate-ring 1s linear infinite; アニメーション
}*/


/* .c-btn__indicator:hover::before {
    opacity: 1;
    animation-play-state: running; ホバー時にアニメーション開始
}

@keyframes circleAnimation {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
 */



@keyframes pulseMotion {
    0% {
    transform: translate(-50%, -50%) scale(1, 1);
    background-color: rgba(251, 249, 247, 0.7)
}
100% {
    transform: translate(-50%, -50%) scale(4.5, 4.5);
    background-color: rgba(251, 249, 247, 0.2)
}
}

.c-btn__indicator {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    margin: 7px;
    background-color: #ffffff;
    /* border: 2px solid transparent; */
    border-radius: 50%;
    transition: background-color cubic-bezier(0.215, 0.61, 0.355, 1) .3s;
    cursor: pointer;
}

.c-btn__indicator:active {
background-color: #ffffff;
}

.c-btn__indicator:focus {
outline: none;
}

.c-btn__indicator::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity linear 0.3s;
    content: '';
}

.c-btn__indicator:active::after {
    animation: pulseMotion 1.4s linear infinite;
}

/* slide */
/* slide01 */
.c-text__slides--present {
    position: absolute;
    left: 10%;
    bottom: 10%;
    text-align: left;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

/* slide02 */
.c-text__slides--forest {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0px 0px 4px rgba(8, 137, 70, 1);
}

.c-text__slides--forest:nth-of-type(2) {
    position: absolute;
    min-width: 300px;
    bottom: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: pre-line;
    text-shadow: 0px 0px 4px rgba(8, 137, 70, 1);
}
/* slide03 */
.c-text__slides--blooming {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.c-text__slides--blooming:nth-of-type(2) {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    line-height: 90%;
}
.c-text__slides--blooming:nth-of-type(3) {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

/* slide04 */
.c-text__slides--mask {
    color: #686260;
    position: absolute;
    min-width: 300px;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.2em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.c-text__slides--mask:nth-of-type(2) {
    color: #686260;
    position: absolute;
    min-width: 300px;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.6em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    line-height: 90%;
}
.c-text__slides--mask:nth-of-type(3) {
    color: #686260;
    position: absolute;
    min-width: 300px;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.6em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


/* slide05 */
.c-text__slides--hinokiSkin {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.c-text__slides--hinokiSkin:nth-of-type(2) {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 230px;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    white-space: pre-line; /* PC版はwhite-space: normal;を記述し<br>を無効にできる */
}
/* slide06 */
.c-text__slides--leaf {
    white-space: pre-line; /* PC版はwhite-space: normal;を記述し<br>を無効にできる */
    font-size: 22px;
    font-family:  "Montserrat", sans-serif;
    min-width: 320px;
    font-weight: 600;
    color: rgb(4, 111, 56);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.c-title__hero {
    color: #ffffff;
    font-weight: normal;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.c-title__hero:nth-of-type(2) {
    color: #ffffff;
    font-weight: normal;
    /* position: absolute; */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* img */
    .c-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-radio: 1 / 1;
    }
    .c-img__mainTopHero {
        width: 293px;
        height: 293px;
        /* aspect-radio: 1 / 1; */
    }

    .c-img__mainSubHero {
        width: 320px;
        height: 320px;
        /* aspect-radio: 1 / 1; */
    }


/* title font-weight */
.c-title__50 {
    font-size: 50px;
    /* font-family: 'Basel', sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    letter-spacing: 0.05em;
}

.c-title__25 {
    font-size: 25px;
    /* font-family: 'Basel', sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    letter-spacing: 0.05em;
}

.c-title__22 {
    font-size: 22px;
    /* font-family: 'Basel', sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    letter-spacing: 0.05em;
}
.c-title__20 {
    font-size: 20px;
    /* font-family: 'Basel', sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    letter-spacing: 0.05em;
}

.c-title__13 {
    font-size: 13px;
    /* font-family: 'Basel', sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    letter-spacing: 0.05em;
}

.c-title__16 {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.c-title__15 {
    font-size: 15px;
    font-family:  "Montserrat", sans-serif;
    letter-spacing: 0.05em;
    font-weight: 500;

}

/* font-size */
.c-fs__16 {
    font-size: 16px;
}

.c-fs__15 {
    font-size: 15px;
}

.c-fs__14 {
    font-size: 14px;
}
.c-fs__11 {
    font-size: 11px;
}
.c-fs__10 {
    font-size: 10px;
}


.c-fs__7 {
    font-size: 7px;
}











.c-fs__20 {
    font-size: 20px;
}

.c-fs__18 {
    font-size: 18px;
}
.c-fs__12 {
    font-size: 12px;
}




.c-fs__17 {
    font-size: 17px;

}


.c-deco__icon-blank { /* 外部アイコン<i class="c-deco__icon-blank"></i> */
    font-family: 'Basel', sans-serif;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 16px;
}
.c-deco__icon-blank:before,
.c-deco__icon-blank:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: var(--icon-color);
}
.c-deco__icon-blank:before {
    top: 0;
    left: 0;
    border-width: var(--icon-width);
}
.c-deco__icon-blank:after {
    top: 6px;
    left: 6px;
    border-width: 0 var(--icon-width) var(--icon-width) 0;
}



.c-deco__dli-clone { /* 外部アイコン<i class="c-deco__dli-clone"></i> */
    font-family: 'Basel', sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 0.9em;
    height: 0.9em;
    border: 0.1em solid currentColor;
    border-radius: 0.1em;
    background: #fff;
    box-sizing: content-box;
    position: relative;
    box-shadow: -0.2em 0.2em 0 -0.1em #fff, -0.2em 0.2em 0 0 currentColor;
}


.c-deco__stickarrow { /* 矢印垂直<i class="c-deco__stickarrow"></i> */
    font-family: 'Basel', sans-serif;
    display: inline-block;
    width: 19px;
    height: 5px;
    margin-left: 4px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: skew(45deg);
}

    .c-deco__chevronDown { /* 矢印down<i class="c-deco__chevronDown"></i> */
    font-family: 'Basel', sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 7px;
    height: 7px;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}
