/* marginなど他に影響を与えたくない小さなパーツ、特定のものに調整するためのもの */
.u-text-center {
        text-align: center;
    }
.u-green {
    color: rgb(4, 111, 56);
    border: 1px solid rgb(4, 111, 56);
    background: rgba(3, 129, 39, 0.3);

}
.u-height-450 {
    height: 450px;

}

.u-width-170 {
    width: 170px;
}

.u-width-240 {
    width: 240px;
}
.u-mt-10 {
    margin-top: 10px;
}

.u-mb-10 {
    margin-bottom: 10px;
}

.u-p-20 {
    padding: 20px;
}

.u-bg-primary {
    background-color: #007bff;
    color: white;
}
.u-img-obj-position {
    object-position: center top;
}


/* fade-in */

.u-fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease, transform 1.2s ease;
    transition-delay: 0s;
}

.u-fadein.show {
    opacity: 1;
    transform: translateY(0);
}


