@media (max-width: 768px) {
    .l-about {
        display: grid;
        position: relative;
        height: 100%;
    }


    .l-about__hero {
        justify-self: end;
    }

    .l-about__hero picture p {
        font-weight: normal;
    }


    .l-about__description {
        justify-self: start;
        width: 240px;
        height: 175px;
        padding: 32px;
        border: 1px solid #000000;
        /* border: 1px solid transparent; */
        /* border: none; */
        margin-bottom: 60px;
        line-height: 22px;
    }

    /* .l-about__description.scrolled {
        width: 240px;
        height: 225px;
        padding: 32px;
        /* border: 1px solid #000000;
        box-sizing: border-box;
        /* margin-bottom: 60px; */
        /* border: 1px solid transparent; */
        /* animation: borderAnimation 1s forwards;
        }*/


    /* @keyframes borderAnimation {
        0% {
        border-color: transparent;
        }
        100% {
        border-color: #000000;
        }
    } */

    .l-about__menu {
        margin: 0 28px;
    }


    .l-about__list {
        justify-content: space-between;
        padding: 0 0 120px;
        display: flex;
        flex-wrap: wrap;
    }

    .l-about__list img {
        width: 126px;
        height: 126px;
    }

    .l-about__item:nth-child(2n) {
        margin-bottom: 40px;
        padding-top: 32px;
    }

    /* .l-about__caption {
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;
        max-width: 126px;
        align-items: center;
    } */
    
    /* .l-about__caption p:last-child {
    flex: 1 1 100%;
    } */
}

@media (min-width: 769px) and (max-width: 1024px) {
    .l-about {
        display: grid;
        position: relative;
        height: 100%;
    }


    .l-about__hero {
        justify-self: end;
    }

    .l-about__hero picture p {
        font-weight: normal;
    }


    .l-about__description {
        justify-self: start;
        width: 240px;
        height: 175px;
        padding: 32px;
        border: 1px solid #000000;
        /* border: 1px solid transparent; */
        /* border: none; */
        margin-bottom: 60px;
        line-height: 22px;
    }

    /* .l-about__description.scrolled {
        width: 240px;
        height: 225px;
        padding: 32px;
        /* border: 1px solid #000000;
        box-sizing: border-box;
        /* margin-bottom: 60px; */
        /* border: 1px solid transparent; */
        /* animation: borderAnimation 1s forwards;
        }*/


    /* @keyframes borderAnimation {
        0% {
        border-color: transparent;
        }
        100% {
        border-color: #000000;
        }
    } */

    .l-about__menu {
        margin: 0 28px;
    }


    .l-about__list {
        justify-content: space-between;
        padding: 0 0 120px;
        display: flex;
        flex-wrap: wrap;
    }

    .l-about__list img {
        width: 126px;
        height: 126px;
    }

    .l-about__item:nth-child(2n) {
        margin-bottom: 40px;
        padding-top: 32px;
    }
    
    /* .l-about__caption {
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;
        max-width: 126px;
        align-items: center;
    } */
    
    /* .l-about__caption p:last-child {
    flex: 1 1 100%;
    } */
}


@media (min-width: 1025px) {


    .l-about {
        display: grid;
        position: relative;
        height: 100%;
    }


    .l-about__hero {
        justify-self: end;
        margin-left: 30%;
    }

    .l-about__hero picture p {
        font-weight: normal;
    }


    .l-about__description {
        justify-self: start;
        width: 40%;
        height: 175px;
        padding: 60px 64px;
        border: 1px solid #000000;
        /* border: 1px solid transparent; */
        /* border: none; */
        margin-bottom: 60px;
        line-height: 22px;
    }

    /* .l-about__description.scrolled {
        width: 240px;
        height: 225px;
        padding: 32px;
        /* border: 1px solid #000000;
        box-sizing: border-box;
        /* margin-bottom: 60px; */
        /* border: 1px solid transparent; */
        /* animation: borderAnimation 1s forwards;
        }*/


    /* @keyframes borderAnimation {
        0% {
        border-color: transparent;
        }
        100% {
        border-color: #000000;
        }
    } */

    .l-about__menu {
        margin: 0 10%;
    }

.l-about__list {
    justify-content: left;
    padding: 0 0 160px;
    display: flex;
    flex-wrap: wrap;
}

.l-about__list img {
    /* margin-right: 97px; */
    width: 275px;
    height: 275px;
}
.l-about__item:nth-child(1), .l-about__item:nth-child(4) {
    margin-right: 9%;
}


.l-about__item:nth-child(2), .l-about__item:nth-child(5) {
    margin-right: 9%;
    padding-top: 4%;

    /* margin-right: 97px;
    padding-top: 32px; */
}

.l-about__item:nth-child(3), .l-about__item:nth-child(6) {
    margin-right: 0;
    padding-top: 8%;
    /* margin-bottom: 50px; */

    /* margin-right: 0;
    padding-top: 64px;
    margin-bottom: 50px; */
}

/* .l-about__caption {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    max-width: 126px;
    align-items: center;
} */

/* .l-about__caption p:last-child {
    flex: 1 1 100%;
} */



    }


