@media (max-width: 768px) {
    .l-about {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
    }


    .l-about__hero {
        padding-left: 8%;
    }

    .l-about__hero picture p {
        font-weight: normal;
    }


    .l-about__description {
        padding: 32px;
        border: 1px solid #000000;
        margin-bottom: 60px;
        aspect-ratio: 1.37 / 1;
        line-height: 22px;
        margin-right: 25%;

    }

    .l-about__menu {
        margin: 0 8.8%;
    }


    .l-about__list {
        justify-content: space-between;
        padding: 0 0 120px;
        display: flex;
        flex-wrap: wrap;
    }

    .l-about__item {
        width: calc((100% - 4%) / 2);

    }


    .l-about__item:nth-child(2n) {
        margin-bottom: 40px;
        padding-top: 32px;
    }

    .l-about__item:nth-child(2) a .c-text__link p:nth-of-type(1),
    .l-about__item:nth-child(5) a .c-text__link p:nth-of-type(1) {
        font-size: 12px;
    }

}

@media (min-width: 769px) and (max-width: 1023px) {
    .l-about {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
    }

    .l-about__hero {
        padding-left: 23.2%;
        }

    .l-about__hero picture p {
        font-weight: normal;
    }

    .l-about__description {
        padding: 40px 44px;
        border: 1px solid #000000;
        margin-bottom: 60px;
        line-height: 22px;
        margin-right: 15.8%;
    }

    .l-about__menu {
        margin: 0 12.5%;
    }

    .l-about__list {
        justify-content: space-between;
        padding: 0 0 120px;
        display: flex;
        flex-wrap: wrap;
    }

    .l-about__item {
        width: calc((100% - 11%) / 2);

    }

    .l-about__item:nth-child(2n) {
        margin-bottom: 40px;
        padding-top: 32px;
    }

    .l-about__item:nth-child(2n-1) {
        padding-top: 32px;
        /* margin-right: 10%; */

    }

}


@media (min-width: 1024px) {


    .l-about {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
    }


    .l-about__hero {
        margin-left: 30%;
    }

    .l-about__hero picture p {
        font-weight: normal;
    }


    .l-about__description {
        width: 40%;
        height: 175px;
        padding: 60px 64px;
        border: 1px solid #000000;
        margin-bottom: 60px;
        line-height: 22px;
    }

    .l-about__menu {
        margin: 0 6.25%;
    }

.l-about__list {
    justify-content: left;
    padding: 0 0 160px;
    display: flex;
    flex-wrap: wrap;
}

.l-about__item {
    width: calc((100% - 12.5%) / 3);
    padding: 0;
    margin: 0;

}

.l-about__item:nth-child(1), .l-about__item:nth-child(4) {
    margin-right: 6%;
}


.l-about__item:nth-child(2), .l-about__item:nth-child(5) {
    margin-right: 6%;
    padding-top: 4%;

}

.l-about__item:nth-child(3), .l-about__item:nth-child(6) {
    margin-right: 0;
    padding-top: 8%;
}

    }


