@media (max-width: 768px) {
  .l-carousel {
    margin-bottom: 50px;
    color: #F5F3ED;
    position: relative;
    overflow: hidden;
  }

  .l-carousel::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000000;
    bottom: 0;
    right: 0;
    width: 0;
    animation: bottom-border 1.7s linear forwards;
  }

  @keyframes bottom-border {
    0% {
      right: 0;
      width: 0;
      }
    100% {
      right: 0;
      width: 100%;
    }
  }

  .l-carousel__slides {
    display: flex;
    align-items: stretch;
    height: 450px;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .l-carousel__slides--item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 1600ms linear 600ms, transform 3200ms ease-out 600ms;
  }

  .l-carousel__slides--item.active {
    opacity: 1;
    transform: scale(1);
  }

  .l-carousel__.no-slides .l-carousel__slides--item {
    display: none;
  }


  .l-carousel__slides--item--present {
    height: 450px;
    background-image: url(../../images/slide01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--forest {
    height: 450px;
    background-image: url(../../images/slide02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--blooming {
    height: 450px;
    background-image: url(../../images/slide03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--mask {
    height: 450px;
    background-image: url(../../images/slide04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--hinokiSkint {
    height: 450px;
    background-image: url(../../images/slide05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--leaf {
    height: 450px;
    background-image: url(../../images/slide06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides > .c-btn__viewMore {
    position: absolute;
    right: 5%;
    bottom: 3%;
  }

  .l-carousel__slides--nav {
    position: absolute;
    left: 5%;
    bottom: 3%;
    background-color: transparent;
    transform: translate3d(0, 0, 0);
  }

  .c-btn__indicator {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    transition: opacity 400ms ease;
    margin-right: 4px;
    padding: 0;
  }

  .c-btn__indicator span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none;
  }

  .c-btn__indicator svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
  }

  .c-btn__indicator circle {
    fill: none;
    stroke: #ffffff;
    stroke-width: 1;
    stroke-dasharray: 50 50;
    stroke-dashoffset: 0;
    transform-origin: center;
    transform: rotate(15deg);
    transition: stroke-dashoffset 0.4s ease, opacity 0.4s ease;
    opacity: 0;
}

.c-btn__indicator.active circle {
    animation: progress-animation 7s linear forwards;
    opacity: 1;


}

@keyframes progress-animation {
    0% {
        stroke-dasharray: 0 50;
    }
    100% {
        stroke-dasharray: 50 0;
    }
}

.c-btn__indicator.active {
    opacity: 1;
}


}


@media (min-width: 769px) and (max-width: 1023px) {
  .l-carousel {
    margin-bottom: 50px;
    color: #F5F3ED;
    position: relative;
    overflow: hidden;
    margin-bottom: 120px;
  }

  .l-carousel::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000000;
    bottom: 0;
    right: 0;
    width: 0;
    animation: bottom-border 1.7s linear forwards;
  }

  @keyframes bottom-border {
    0% {
      right: 0;
      width: 0;
      }
    100% {
      right: 0;
      width: 100%;
    }
  }

  .l-carousel__slides {
    display: flex;
    align-items: stretch;
    height: 385px;
    margin: 0;
    padding: 0;
    width: 100%;
  }


  .l-carousel__slides--item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 1600ms linear 600ms, transform 3200ms ease-out 600ms;
  }

  .l-carousel__slides--item.active {
    opacity: 1;
    transform: scale(1);
  }

  .l-carousel__.no-slides .l-carousel__slides--item {
    display: none;
  }


  .l-carousel__slides--item--present {
    height: 385px;
    background-image: url(../../images/slide01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--forest {
    height: 385px;
    background-image: url(../../images/slide02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--blooming {
    height: 385px;
    background-image: url(../../images/slide03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--mask {
    height: 385px;
    background-image: url(../../images/slide04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--hinokiSkint {
    height: 385px;
    background-image: url(../../images/slide05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  .l-carousel__slides--item--leaf {
    height: 385px;
    background-image: url(../../images/slide06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides > .c-btn__viewMore {
    position: absolute;
    right: 5%;
    bottom: 3%;
  }

  .l-carousel__slides--nav {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }

  .c-btn__indicator {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    transition: opacity 400ms ease;
    margin-right: 4px;
    padding: 0;
  }

  .c-btn__indicator span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none;
  }

  .c-btn__indicator svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
  }

  .c-btn__indicator circle {
    fill: none;
    stroke: #ffffff;
    stroke-width: 1;
    stroke-dasharray: 50 50;
    stroke-dashoffset: 0;
    transform-origin: center;
    transform: rotate(15deg);
    transition: stroke-dashoffset 0.4s ease, opacity 0.4s ease;
    opacity: 0;
}

  .c-btn__indicator.active circle {
    animation: progress-animation 7s linear forwards;
    opacity: 1;
  }

  @keyframes progress-animation {
      0% {
          stroke-dasharray: 0 50;
      }
      100% {
          stroke-dasharray: 50 0;
      }
  }

  .c-btn__indicator.active {
    opacity: 1;
  }

}


@media (min-width: 1024px) {
  .l-carousel {
    margin-bottom: 50px;
    color: #F5F3ED;
    position: relative;
    overflow: hidden;
    margin-bottom: 120px;
  }

  .l-carousel::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000000;
    bottom: 0;
    right: 0;
    width: 0;
    animation: bottom-border 1.7s linear forwards;
  }

  @keyframes bottom-border {
    0% {
      right: 0;
      width: 0;
      }
    100% {
      right: 0;
      width: 100%;
    }
  }

  .l-carousel__slides {
    display: flex;
    align-items: stretch;
    height: 512px;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .l-carousel__slides--item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 1600ms linear 600ms, transform 3200ms ease-out 600ms;
  }

  .l-carousel__slides--item.active {
    opacity: 1;
    transform: scale(1);
  }

  .l-carousel__.no-slides .l-carousel__slides--item {
    display: none;
  }


  .l-carousel__slides--item--present {
    height: 512px;
    background-image: url(../../images/slide01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--forest {
    height: 512px;
    background-image: url(../../images/slide02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--blooming {
    height: 512px;
    background-image: url(../../images/slide03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--mask {
    height: 512px;
    background-image: url(../../images/slide04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--hinokiSkint {
    height: 512px;
    background-image: url(../../images/slide05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides--item--leaf {
    height: 512px;
    background-image: url(../../images/slide06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-carousel__slides > .c-btn__viewMore {
    position: absolute;
    right: 5%;
    bottom: 3%;
  }

  .l-carousel__slides--nav {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }

  .c-btn__indicator {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    transition: opacity 400ms ease;
    margin-right: 4px;
    padding: 0;
  }

  .c-btn__indicator span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none;
  }

  .c-btn__indicator svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
  }

  .c-btn__indicator circle {
    fill: none;
    stroke: #ffffff;
    stroke-width: 1;
    stroke-dasharray: 50 50;
    stroke-dashoffset: 0;
    transform-origin: center;
    transform: rotate(15deg);
    transition: stroke-dashoffset 0.4s ease, opacity 0.4s ease;
    opacity: 0;
}

.c-btn__indicator.active circle {
    animation: progress-animation 7s linear forwards;
    opacity: 1;
}

@keyframes progress-animation {
    0% {
        stroke-dasharray: 0 50;
    }
    100% {
        stroke-dasharray: 50 0;
    }
}

.c-btn__indicator.active {
    opacity: 1;
}

}