@media (max-width: 768px) {

.l-carousel {
  position: relative;
  margin-bottom: 50px;
  color: #F5F3ED;
}

.l-carousel__slides--item {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 450px;
}


.l-carousel__slides--overlay {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 450px;
}

  .l-carousel__slides--img {
    width: 100%;
    height: 100%;
    object-fit: cover;


  }
  .l-carousel__slides--item button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    }

    .l-carousel__slides--nav {
      position: absolute;
      left: 5%;
      bottom: 2%;
      background-color: transparent;
      }

  .l-carousel__slides--indicator {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

.l-carousel {
  position: relative;
  margin-bottom: 50px;
  color: #F5F3ED;
}

.l-carousel__slides--item {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 450px;
}


.l-carousel__slides--overlay {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 450px;
}

  .l-carousel__slides--img {
    width: 100%;
    height: 100%;
    object-fit: cover;


  }
  .l-carousel__slides--item button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    }

    .l-carousel__slides--nav {
      position: absolute;
      left: 5%;
      bottom: 2%;
      background-color: transparent;
      }

  .l-carousel__slides--indicator {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

@media (min-width: 1025px) {

.l-carousel {
  position: relative;
  margin-bottom: 50px;
  color: #F5F3ED;

}

.l-carousel__slides--item {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 640px;
}


.l-carousel__slides--overlay {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 640px;
}

  .l-carousel__slides--img {
    width: 100%;
    height: 100%;
    object-fit: cover;


  }
  .l-carousel__slides--item button {
    position: absolute;
    right: 50%;
    bottom: 10%;
    }

    .l-carousel__slides--nav {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: 2%;
      background-color: transparent;
    }
  

  .l-carousel__slides--indicator {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

