.l-instagram {
    text-align: center;
}


.l-instagram__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 28px;
}
.l-instagram__title img {
    height: 30px;
    width: 30px;
    border: none;
    margin: 0 auto 10px;
}

.l-instagram__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.l-instagram__item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.l-instagram button {
    margin: 40px 40px 0;
}
