@media screen and (max-width: 768px) {

.l-main__top--title {
    text-align: center;
    margin: 40px 70px 100px;

}
.l-main__top--title p {
    white-space: pre-line; /* PC版はwhite-space: normal;を記述し<br>を無効にできる */
    margin-bottom: 10px;
}
}

@media screen and (min-width: 769px) {

.l-main__sub {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}


.l-main__top--title {
    text-align: center;
    margin: 40px 70px 100px;

}
.l-main__top--title p {
    white-space: pre-line; /* PC版はwhite-space: normal;を記述し<br>を無効にできる */
    margin-bottom: 10px;
}
}
