@media (max-width: 768px) {
    .l-main__top--title {
        text-align: center;
        margin: 40px 70px 100px;
    }

    .l-main__top--title p {
        margin-bottom: 10px;
    }
    }

@media (min-width: 769px) and (max-width: 1023px) {

    .l-main__sub {
        display: flex;
        justify-content: space-between;
        padding: 5%;
    }

    .l-main__sub section {
        flex: 1;
        max-width: 40%;
        width: 100%;
    }

    .l-main__top--title {
        text-align: center;
        /* margin: 40px 70px 100px; */
        margin-bottom: 160px;
    }

    .l-main__top--title p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .l-main__top--title h2 {
        font-size: 65px;
    }

    .l-main__top--title h3 {
        font-size: 18px;
    }



    .l-main__sub{
        position: relative;
    }

    .l-main__sub::after {
        z-index: -1;
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #000000;
        /* bottom: 0;
        left: 0;
        width: 0; */
        top: calc((100vw - 88px)* 0.5* 0.4);
        top: calc((100vw - -180px)* 0.5* 0.4);
        animation: back-border 1.7s linear forwards;
    }

    @keyframes back-border {
        0% {
            left: 0;
            width: 0;
            }
        100% {
            left: 0;
            width: 100%;
        }
    }



}


@media (min-width: 1024px) {

    .l-main__sub {
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 5%;
    }

    .l-main__top--title {
        text-align: center;
        margin: 40px 70px 100px;
    }

    .l-main__top--title p {
        font-size: 18px;
        margin-bottom: px;
    }

    .l-main__top--title h2 {
        font-size: 65px;
    }

    .l-main__top--title h3 {
        font-size: 18px;
        margin: 0px auto 160px;
    }

    .l-main__sub{
        position: relative;
    }

    .l-main__sub::after {
        z-index: -1;
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #000000;
        /* bottom: 0;
        left: 0;
        width: 0; */
        top: calc((100vw - 128px)* 0.5* 0.4);
        top: calc((100vw - -300px)* 0.5* 0.4);
        animation: back-border 1.7s linear forwards;
    }

    @keyframes back-border {
        0% {
            left: 0;
            width: 0;
            }
        100% {
            left: 0;
            width: 100%;
        }
    }



}

@media (min-width: 1440px) {

    .l-main__sub {
        text-align: center;
    }

}

