@media (max-width: 320px) {

.l-memberShip {
    margin-bottom: 80px;
}

.l-memberShip__deco {
    display: flex;
    justify-content: center;
    margin: 0 auto 32px;
}
    
@media (max-width: 1280px) {

.l-memberShip {
    margin-bottom: 80px;
}

.l-memberShip__deco {
    display: flex;
    justify-content: center;
    margin: 0 auto 32px;
}

.l-memberShip__title {
    margin

.l-memberShip__title {
    margin: 0 32px 24px;
}
.l-memberShip__title p {
    margin: 8px 0 0;
}

}
