@media (max-width: 768px) {
    .l-news {
    margin-bottom: 80px;
}
}

@media (min-width: 769px) and (max-width: 1023px) {
    .l-news {
    margin-bottom: 80px;
    width: calc((100% - 10%) / 2);
}
    /* .l-news img {
    height: 360px;
    width: 360px;
} */

}


@media (min-width: 1024px) {
    .l-news {
    margin-bottom: 80px;
    flex-grow: 1;
    width: 40.14658%;
    margin-right: 10%;

}
}

