@media (max-width: 768px) {
    .l-news {
        margin-bottom: 80px;
}
    .l-news picture {
        margin-bottom: 40px;
}

}

@media (min-width: 769px) and (max-width: 1023px) {
    .l-news {
        margin-bottom: 80px;
        width: calc((100% - 10%) / 2);
    }

    .l-news picture {
        margin-bottom: 40px;
    }
    .l-news picture p {
        font-weight: normal;
        font-size: 180%;
    }

    .l-news picture p:nth-of-type(2) {
        font-size: 90%;
        margin-top: 2%;
    }


}


@media (min-width: 1024px) {
    .l-news {
    margin-bottom: 80px;
    flex-grow: 1;
    width: 40.14658%;
    margin-right: 10%;

}

.l-news picture {
    margin-bottom: 40px;
}
.l-news picture p {
    font-weight: normal;
    font-size: 310%;
}

.l-news picture p:nth-of-type(2) {
    font-size: 120%;
    margin-top: 2%;
}

}

@media (min-width: 1440px) {

    .l-news__description{
        text-align: left;
    }

}

