@media (max-width: 768px) {
    .l-storesSectionOnline {
        margin-bottom: 80px;
}
    .l-storesSectionOnline picture {
        margin-bottom: 40px;
}

}


@media (min-width: 769px) and (max-width: 1023px) {
    .l-storesSectionOnline {
        margin-bottom: 80px;
        width: calc((100% - 10%) / 2);
        padding-top: 80px;

    }
    .l-storesSectionOnline picture {
        margin-bottom: 40px;
    }
    .l-storesSectionOnline picture p {
        font-weight: normal;
        font-size: 180%;
    }

    .l-storesSectionOnline picture p:nth-of-type(2) {
        font-size: 90%;
        margin-top: 2%;
    }

}


@media (min-width: 1024px) {
    .l-storesSectionOnline {
    margin-bottom: 80px;
    flex-grow: 1;
    width: 40.14658%;
    padding-top: 80px;

}
.l-storesSectionOnline picture {
    margin-bottom: 40px;
}
.l-storesSectionOnline picture p {
    font-weight: normal;
    font-size: 310%;
}

.l-storesSectionOnline picture p:nth-of-type(2) {
    font-size: 120%;
    margin-top: 2%;
}

}


@media (min-width: 1440px) {

    .l-storesSectionOnline__description{
        text-align: left;
    }

}


